/* google font "noto serif" */

body {
	font-family: 'Noto Serif', serif;
}

/* navbar */

.navbar {
	margin-bottom: 0;
}

/* navbar links cmyk */

.cmyk-c:hover {
	background-color: rgba(127,255,255,.7);
}

.cmyk-active-c {
	background-color: rgba(127,255,255,.7);
}

.cmyk-m:hover {
	background-color: rgba(255,127,255,.7);
}

.cmyk-active-m {
	background-color: rgba(255,127,255,.7);
}

.cmyk-y:hover {
	background-color: rgba(255,255,127,.7);
}

.cmyk-active-y {
	background-color: rgba(255,255,127,.7);
}

.cmyk-k:hover {
	background-color: rgba(127,127,127,.7);
}

.cmyk-active-k {
	background-color: rgba(127,127,127,.7);
}

/* section padding */
.container {
	padding-top: 50px;
}
